<h1>Clientes</h1>
<table class="table table-hover">
	<button class="btn btn-large">Novo cliente</button>
	<th>Nome</th>
	<th>Endereço</th>
	<th>Orçamento</th>
	<th>Serviço</th>


	<% @clientes.each do |c| %>
	<td><%= c.nome %></td>
	<td><%= c.endereco %></td>
	<td><%= c.orcamento %></td>
	<td><%= c.servico %></td>

</table>
