<div class="center hero-unit">
	<h1>Agendamento Médico</h1>
	<h2>Acesse o sistema, com seu usuário e senha, para fazer agendamentos</h2> 

	

	<!-- <%= link_to "Cadastre-se!", cadastrar_path, class: "btn btn-large btn-primary" %> -->
	<%= link_to "Acessar", signin_path, class: "btn btn-large btn-primary" %>
</div>
</div>





