<% provide(:title, @user.nome) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nome %>
      </h1>
    </section>
  </aside>
</div>